.about-container {
    background: #FFFFFF;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 20px 20px 0px;
    padding: 80px 130px 80px 150px;

    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    margin-right: 200px;
}

.about-text-container {
    text-align: right;
}

.hi {
    font-family: 'Text Me One', sans-serif;
    font-size: 65px;
    color: var(--primary);
}

.about-text {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.space {
    display: block;
    height: 25px;
}

.headshot {
    width: 315px;
    height: 335.9px;
    margin-left: 90px;
}

.about-buttons {
    margin-top: 30px;
}

.about-button {
    font-family: 'Nunito', sans-serif;
    padding: 10px 15px;
    min-width: fit-content;
    background: var(--primary);
    border-radius: 13px;
    color: white;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px 15px;
}
.about-button:hover {
    opacity: 1;
    right: 0;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.35);
    transition: all .2s;
}