.about-container {
    width: 70%;
    height: 500px;
    background: #FFFFFF;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 20px 20px 0px;
    padding-left: 150px;
    padding-right: 130px;

    display: flex;
    flex-direction: row;
}

.about-text-container {
    text-align: right;
    padding-top: 80px;
}

.hi {
    font-family: 'Text Me One', sans-serif;
    font-size: 65px;
    color: #EBBAB1;
}

.about-text {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-size: 15px;
}

.space {
    display: block;
    height: 25px;
}

.headshot {
    width: 315px;
    height: 335.9px;
    margin-top: 80px;
    margin-left: 90px;
}

.about-buttons {
    margin-top: 30px;
}

.about-button {
    font-family: 'Nunito', sans-serif;
    padding: 12px 20px;
    min-width: fit-content;
    background: #EBBAB1;
    border-radius: 13px;
    color: white;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 15px;
}
.about-button:hover {
    opacity: 1;
    right: 0;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.35);
    transition: all .2s;
}