.about-container {
    background: var(--primary);
    box-shadow: var(--inner-neum);
    border-radius: 16px 0px 0px 16px;
    padding: 80px 130px 80px 100px;

    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    margin-left: 200px;
}

.about-text-container {
    text-align: left;
    display: flex;
    flex-direction: row;
}

.about-text-inner-container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 30px;
}

.hi {
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 65px;
    color: var(--primary);
    text-shadow: var(--neum);
}

.about-text {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 15px;
    color: var(--secondary);
}

.space {
    display: block;
    height: 25px;
}

.headshot {
    width: 315px;
    height: 335.9px;
    margin-left: 90px;
}

.about-buttons {
    margin-top: 30px;
}

.about-button {
    font-family: 'Nunito', sans-serif;
    padding: 10px 15px;
    min-width: fit-content;
    background: var(--primary);
    border-radius: 13px;
    color: white;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 10px 15px;
}
.about-button:hover {
    opacity: 1;
    right: 0;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.35);
    transition: all .2s;
}