.art-container {
    padding-left: 180px;
    display: flex;
    flex-direction: column;
}

.gallery-text {
    font-family: 'Inter';
    font-weight: 300;
    font-size: 20px;
    margin-top: 8px;
    text-align: left;
    width: 1150px;
    color: white;
    margin-left: 150px;
}

.gallery-container {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

#ipad {
    width: 500px;
    border-radius: 30px;
}

.drawings {
    display: flex;
    flex-direction: column;
    margin-left: 110px;
}

.sketch {
    width: 280px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-left: -130px;
}

.sketch:hover {
    margin-left: 60px;
    margin-right: 60px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
}

#naeun {
    margin-left: 0px;
}

.digital {
    display: flex;
    flex-direction: row;
    margin-top: 120px;
}

.digital-drawing {
    width: 280px;
    height: 373.85px;
    border-radius: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.digital-drawing:hover {
    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.25);
}

#mirror{
    margin-left: -60px;
    margin-top: 70px;
}

#jam{
    width: 350px;
    height: 262.5px;
    margin-left: -60px;
    margin-top: -40px;
}