.projects-container {
    display: flex;
    flex-direction: column;
    font-family: 'Nunito';
}

.project {
    display: flex;
    flex-direction: row;
}

.project-img {
    width: 300px;
    height: 175.14px;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    margin-left: -330px;
}

.number {
    font-weight: 300;
    font-size: 40px;
    color: white;
    margin-left: 130px;
    margin-right: 35px;
}

.title-container {
    width: 1871px;
    height: 140px;

    border: 2px solid #FFFFFF;
    border-radius: 20px;

    margin-right: -50px;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 80px;
    cursor: pointer;

    display:flex;
    flex-direction: row;
    box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.25);
}
.title-container:hover {
    box-shadow: -8px 8px 8px rgba(0, 0, 0, 0.35);
}

.left {
    display: flex;
    flex-direction: column;
    text-align: right;
    min-width: fit-content;
}
.title {
    color: white;
    font-size: 33px;
    font-weight: 300;
}
.project-status {
    color: white;
    font-size: 15px;
    font-weight: 300;
    margin-top: 5px;
}

.winning-status {
    font-size: 15px;
    font-weight: 300;
    margin-top: 3px;
    color: var(--secondary);
}

.right {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 30px;
}
.project-description {
    color: var(--project-desc);
    font-weight: 300;
    font-size: 16px;
    margin-top: 8px;
}

.tech-stack {
    font-weight: 300;
    font-size: 15px;
    color: var(--project-tech-stack);
    margin-top: 2px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.project-button {
    font-family: 'Nunito', sans-serif;
    min-width: fit-content;
    padding: 8px 10px;
    margin-right: 15px;
    color: var(--primary);
    background-color: white;
    border-radius: 13px;
    border: none;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 12px;
}
.project-button:hover {
    opacity: 1;
    right: 0;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.35);
    transition: all .2s;
}

img {
    transition: all 0.5s ease-out;
}

#rooster-project {
    margin-top: 30px;
}

#pw-project {
    margin-top: 30px;
}

#crown {
    width: 50px;
    margin-top: -40px;
    margin-left: 30px;
    z-index: 1;
}

