
.topNavBar {
    display: flex;
    align-items: center;
    padding-top: 40px;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

.name-container {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    text-align: right;
    text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    margin-right: 20px;
}

.horizontal-line {
    border: 0.5px solid #FFFFFF;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
    flex: auto;
}

.nav-button {
    font-family: var(--primary-font);
    font-weight: 400;
    background: var(--primary);
    cursor: pointer;
    border-radius: 30px;
    background: #E9EEF1;
    box-shadow: var(--inner-neum);
    border: none;
    padding: 16px 36px;
    color: var(--secondary); 
    margin-right: 20px;
}

.nav-button:hover {
    box-shadow: var(--neum);
    transition: all 2s;
}


/* filter: drop-shadow(6px 6px 10px rgba(166, 180, 200, 0.75)) drop-shadow(-6px -6px 10px #FFF); */
/* text-shadow: -6px -6px 10px #FFF, 6px 6px 10px rgba(166, 180, 200, 0.75); */