html {
  scroll-behavior: smooth;
}

.App {
  background-color: #EBBAB1;
  display: flex;
  flex-direction: column;

}

::-webkit-scrollbar {
  background-color: #EBBAB1;
  transition: all .3s;
  width: 12px;
  border-radius: 0px 0px 15px 0px;
}
::-webkit-scrollbar-track {
  background-color: #EBBAB1;
  transition: all .3s;
  border-radius: 0px 0px 15px 0px;
}
::-webkit-scrollbar-thumb {
  background-color: #cb968c;
  opacity: 0.2;
  scrollbar-width: thin;
  transition: all .3s;
  border-radius: 8px;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-page {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.main-page {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.App-header {
  /* font-family: 'Inter', sans-serif; */
  font-family: 'Text Me One', sans-serif;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

#greeting {
  font-size: 70px;
}
#intro {
  font-size: 50px;
}
#description {
  font-size: 30px;
}

.avatar {
  width: 500px;
  margin-left: -170px;
}

.App-link {
  color: #61dafb;
}

.date-time-container {
  align-items: flex-end;
  right: 40px;
  top: 20px;
}







.section-header {
  font-family: 'Inter', sans-serif;
  color: white;
  font-size: 25px;
  font-weight: 300;
  margin: 50px;
  margin-left: 230px;
}

#projects-page {
  margin-top: 100px;
}

#artAndGallery-page {
  margin-top: 100px;
}



.toTop {
  max-width: fit-content;
  position: fixed;
  left: 92%;
  bottom: 60px;

  background-color: #dfa394;
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  border: none;
  padding: 15px;
  color: white;
}

.toTop:hover {
  cursor: pointer;
  position: fixed;
  opacity: 1;
  right: 0;
  box-shadow: -9px 9px 9px rgba(0, 0, 0, 0.3);
  transition: all .2s;
}
