html {
  scroll-behavior: smooth;
}

.App {
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  transition: none;
}

/* ::-webkit-scrollbar {
  background-color: var(--main);
  transition: all .3s;
  width: 12px;
  border-radius: 0px 0px 15px 0px;
}
::-webkit-scrollbar-track {
  background-color: var(--main);
  border-radius: 0px 0px 15px 0px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main);
  opacity: 0.2;
  scrollbar-width: thin;
  transition: all .3s;
  border-radius: 8px;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.main-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 85vh;
  justify-content: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.theme-button {
  background: transparent;
  border: none;
  color: white;
  width: 20px;
  align-self: center;
  margin-top: 20px;
}

#greeting {
  font-family: var(--secondary-font);
  color: var(--primary);
  font-weight: 800;
  font-size: 100px;
  text-shadow: var(--neum);
  margin-bottom: 16px;
}

#intro {
  font-size: 18px;
  font-family: var(--primary-font);
  color: var(--secondary);
}

#name {
  color: #F39B19;
  font-weight: 600;
}

.avatar {
  width: 200px;
  height: 200px;
}

.date-time-container {
  align-items: flex-end;
  right: 40px;
  top: 20px;
}







.section-header {
  font-family: var(--primary-font);
  color: var(--secondary);
  font-size: 22px;
  font-weight: 500;
  margin: 50px;
  margin-left: 230px;
}

#projects {
  margin-top: 100px;
}

#artAndGallery {
  margin-top: 100px;
}

#contactMe {
  margin-top: 100px;
}



.toTop {
  max-width: fit-content;
  position: fixed;
  left: 92%;
  bottom: 60px;

  background-color: var(--secondary);
  box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  border: none;
  padding: 15px;
  color: white;
}

.toTop:hover {
  cursor: pointer;
  position: fixed;
  opacity: 1;
  right: 0;
  box-shadow: -9px 9px 9px rgba(0, 0, 0, 0.3);
  transition: all .2s;
}

#footer {
  color: var(--secondary);
  padding-top: 100px;
  padding-bottom: 60px;
  font-family: var(--primary-font);
  align-self: center;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#joa {
  width: 80px;
  margin-bottom: 20px;
}