body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main: #EBBAB1;
  --primary: #EBBAB1;
  --secondary: #cb968c;
  --project-desc: #503B37;
  --project-tech-stack: white;
}

[data-theme='dark'] {
  --main: #4E4666;
  --primary: #9990B5;
  --secondary:#9990B5;
  --project-desc: white;
  --project-tech-stack: #9990B5;
}




